@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .blob{
    @apply fixed sm:h-[200px] h-[0px] aspect-square z-[1]  blur-[150px] opacity-60  rounded-full
    bg-gradient-to-tr from-[#8EC5FC]/20 via-[#E0C3FC]/80 to-[#ff63e5]
    top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] 
  }
}

* {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Bowlby One;
  src: url(./utils/Aurora-gx4V6.woff) format('woff');
}
.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.pulse {
  animation: pulse 1.4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.loadable {
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
img {
  display: block;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}